{% extends "base.html" %}
{% block search %} active {% endblock %}
{% load staticfiles %}

{% block extlib %}
    <!--bootstrap table -->
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            <strong>查询用户信息</strong>
        </h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <!--查询-->
            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                    <p class="text-muted">
                        <small>输入部分手机号的时候，按前缀匹配， 如输入15则查询以15开头的手机号</small>
                    </p>
                    <form action="/super/search/user" method="POST">
                        <div class="input-group">
                            <input type="text" class="form-control" name="qdata" placeholder="搜索"
                                   value="{{ request.POST.qdata }}">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="submit">
                                    <span class="glyphicon glyphicon-search"> 搜索</span>
                                </button>
                            </span>
                        </div>
                        {% if  request.POST.qtype == 'phone' %}
                            <label class="radio-inline"> <input type="radio" name="qtype" value="name"
                                                                > 姓名</label>
                            <label class="radio-inline"> <input type="radio" name="qtype" value="phone" checked="checked">
                                手机号
                            </label>
                        {% else %}
                            <label class="radio-inline"> <input type="radio" name="qtype" value="name"
                                                                checked="checked"> 姓名</label>
                            <label class="radio-inline"> <input type="radio" name="qtype" value="phone">
                                手机号
                            </label>
                        {% endif %}

                    </form>
                </div>
            </div>
            <!--列表-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="list-group">
                        {% for user in users %}
                            <div class="list-group-item">
                                <div class="list-group-item-text">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>姓名：{{ user.name }}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>手机号：{{ user.phone }}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>身份证：{{ user.IDcard }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p>地址：{{ user.address }}</p>
                                        </div>
                                        <input type="hidden" value="{{ user.openId }}"/>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-offset-8  col-md-4">
                                            <p>
                                                <a href="/super/modify/user/?pk={{ user.pk }}" class="modify-wxinfo btn btn-success">
                                                    <span class="glyphicon glyphicon-info-sign"> 详情</span>
                                                </a>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end of row -->
{% endblock %}

<script type="text/javascript">
    {% ifnotequal message '' %}
        $('#msgDialog').modal('show');
    {% endifnotequal %}
    $.validate({
        modules: "security"
    });

</script>