{% extends "base.html" %}
{% block show %} active {% endblock %}
{% load staticfiles %}

{% block extlib %}
    <!--bootstrap table -->
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            <strong>{{ perojectName }}用户列表</strong>
        </h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div id="listContain" class="list-group">
                        {% for user in confirmedUsers %}
                            <div class="list-group-item">
                                <div class="list-group-item-heading row">
                                    <div class="col-md-2">
                                        <label>{{ user.name }}</label>
                                    </div>
                                </div>
                                <div class="list-group-item-text">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>手机号：{{ user.phone }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p>绑定设备：{% for data in user.ammeter.values %}
                                                {{ data.ammeter_addr }}(设备号{{ data.ammeter_app_code }}) </p>
                                                {% endfor %}
                                        </div>
                                        <input type="hidden" value="{{ user.openId }}"/>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p>
                                                <button data-openid="{{ user.openId }}"
                                                        class="verify-ok btn btn-warning">
                                                    <span class="glyphicon glyphicon-edit"> 修改</span>
                                                </button>
                                            </p>
                                        </div>
                                        <div class="col-md-3 col-md-offset-6">
                                            <p>
                                                <button data-openid="{{ user.openId }}"
                                                        class="verify-remove btn btn-success">
                                                    <span class="glyphicon glyphicon-remove"> 确认</span>
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end of row -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".verify-remove").click(function () {
                var openId = $(this).attr("data-openid");
                postOpenid("/super/verify/user", openId, 0);
            });

            $(".verify-ok").click(function () {
                var openId = $(this).attr("data-openid");
                postOpenid("/super/verify/user", openId, 1);
            });
        });

        function postOpenid(path, openId, verify) {
            $.ajax({
                url: path,
                type: "POST",
                async: true,
                data: {"openId": openId, "verify": verify},
                success: function (res) {
                    var data = JSON.parse(res);
                    if (data.state) {
                        var list = JSON.parse(data.data);
                        str = "";
                        var item ;
                        for (var i=0;i<list.length;++i) {
                            item = list[i];
                            str += "<div class=\"list-group-item\">\n" +
                                "                                <div class=\"list-group-item-heading row\">\n" +
                                "                                    <div class=\"col-md-2\">\n" +
                                "                                        <label> " + item.fields.name + " </label>\n" +
                                "                                    </div>\n" +
                                "                                </div>\n" +
                                "                                <div class=\"list-group-item-text\">\n" +
                                "                                    <div class=\"row\">\n" +
                                "                                        <div class=\"col-md-5\">\n" +
                                "                                            <p>手机号： " + item.fields.phone + " </p>\n" +
                                "                                        </div>\n" +
                                "                                    </div>\n" +
                                "                                    <div class=\"row\">\n" +
                                "                                        <div class=\"col-md-10\">\n" +
                                "                                            <p>地址：" + item.fields.address + " </p>\n" +
                                "                                        </div>\n" +
                                "                                    </div>\n" +
                                "                                    <div class=\"row\">\n" +
                                "                                        <div class=\"col-md-3\">\n" +
                                "                                            <p>\n" +
                                "                                                <button data-openid=\" " + item.fields.openId + " \"\n" +
                                "                                                        class=\"verify-ok btn btn-success\">\n" +
                                "                                                    <span class=\"glyphicon glyphicon-ok\"> 通过</span>\n" +
                                "                                                </button>\n" +
                                "                                            </p>\n" +
                                "                                        </div>\n" +
                                "                                        <div class=\"col-md-3 col-md-offset-6\">\n" +
                                "                                            <p>\n" +
                                "                                                <button data-openid=\"" + item.fields.openId + " \"\n" +
                                "                                                        class=\"verify-remove btn btn-danger\">\n" +
                                "                                                    <span class=\"glyphicon glyphicon-remove\"> 不通过</span>\n" +
                                "                                                </button>\n" +
                                "                                            </p>\n" +
                                "                                        </div>\n" +
                                "                                    </div>\n" +
                                "                                </div>\n" +
                                "                            </div>";
                        }
                        console.log(str);
                        $("#listContain").html(str)
                    }
                }
            })
        }
    </script>
{% endblock %}

<script type="text/javascript">
    {% ifnotequal message '' %}
        $('#msgDialog').modal('show');
    {% endifnotequal %}
    $.validate({
        modules: "security"
    });

</script>

