{% extends "base.html" %}
{% block show %} active {% endblock %}
{% load staticfiles %}

{% block extlib %}
{% endblock %}

{% block content %}
    <div class="page-header ">
        <div class="h1">
            <strong>用户列表</strong>
{#            <small>{{ peroject.projectname }}</small>#}
        <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" id="selected" data-toggle="dropdown" value="{{ project.source_id }}">
                {{ project.projectname }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="selected">
                {% for proj in allProject %}
                <li role="presentation">
                    <a href="#" class="visibleProject" role="menuitem" tabindex="{{ proj.source_id }}">{{ proj.projectname }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div id="listContain" class="list-group">
                        {% for user in confirmedUsers %}
                            <div class="list-group-item">
                                <div class="list-group-item-heading row">
                                    <div class="col-md-2">
                                        <label>{{ user.name }}</label>
                                    </div>
                                </div>
                                <div class="list-group-item-text">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>学号：{{ user.code }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 changeDevice">
                                            <label>绑定设备：</label>
                                            {% for data in user.ammeter.values %}
                                            <div class="page">
                                                <div class="page__bd page__bd_spacing">
                                                    <div class="btn btn-default bound" data-value0="{{ data.ammeter_app_code }}"
                                                     data-value1="{{ data.ammeter_sensorId }}" openid="{{ user.openId }}">
                                                        {{ data.ammeter_addr }}(设备号: {{ data.ammeter_app_code }})
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
{#                                        <input type="hidden" value="{{ user.openId }}"/>#}
                                        <br>
                                        <div class="row"></div>
                                        <div class="col-md-3 col-md-offset-8">
                                            <p>
                                                <button data-openid="{{ user.openId }}" id="{{ user.openId }}"
                                                        class="verify-ok btn btn-warning hidden">
                                                    <span class="glyphicon glyphicon-edit"> 确认修改</span>
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end of row -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click',".verify-ok",function () {
                console.log('ok tag')
                var openId = $(this).attr("data-openid");

                console.log('ok done'+ openId)
            });

            //选择项目
            $(document).on('click','.visibleProject',function () {
                var source_id = $(this).attr("tabindex");
                console.log('source select'+source_id);
                var url = "/super/show/user?source_id="+source_id
                window.location = url
            })

            // 选择ammeter
            $(document).on('click',".bound",function () {
                var source = $('#selected').val();
                var ammeters = getAmmeter(source);
                var current = $(this);
                var confirmBtn = $('#'+current.attr('openid'))
                var previous = current.attr('data-value0')  //之前的设备号
                var previous_sensor = current.attr('data-value1')  //之前的环号
                weui.picker(ammeters, {
                    onChange: function (result) {
                        {#console.log(result);#}
                    },
                    onConfirm: function (result) {
                        console.log('选定:'+'寝室'+result[0].label+', 设备号'+result[0].value[0]+', 环号'+result[0].value[1]);
                        confirmBtn.removeClass('hidden');
                        confirmBtn.click(function () {
                            postOpenid(current.attr('openid'), source, result[0].value[0], result[0].value[1], previous, previous_sensor)
                            confirmBtn.addClass('hidden')
                        });
                        current.html(result[0].label + '(设备号: '+result[0].value[0]+')')
                        current.attr('data-value',result[0].value)
                    },
                    title: '修改绑定设备'
                });
            });
        });



        function postOpenid(openId, source_id, ammeter_app_code, sensorId, previous_code, previous_sensor) {
            $.ajax({
                url: '/super/show/user',
                type: "POST",
                async: false,
                data: {"openid": openId.replace(/\s+/g,""), "source_id": source_id, "ammeter_app_code":ammeter_app_code,
                "sensorId": sensorId, "previous_code": previous_code, "previous_sensor": previous_sensor},
                success: function (res) {
                    var data = JSON.parse(res);
                    if (data.state) {
                        console.log('ok')
                        alert('修改成功！')
                        location.reload();
                    }
                    else
                        alert('修改失败！')
                }
            })
        }



    function getAmmeter(source_id) {
        var ammeters=[];
        $.ajax({
            url: '/get/ammeters',
            type: 'post',
            dataType:'json',
            async:false,
            data: { 'source_id': source_id},
            success: function (data) {
                for (var i=0;i<data[0].children[0].children.length;i++)
                {
                    console.log('label:', data[0].children[0].children[i].label)
                    console.log('value:', data[0].children[0].children[i].app_code)
                    var temp = {label:data[0].children[0].label + ' ' + data[0].children[0].children[i].label + '室',
                                value:[data[0].children[0].children[i].app_code,
                                       data[0].children[0].children[i].sensorId]}
                    ammeters.push(temp)
                }
            }
        });
        return ammeters;
    }
    </script>
{% endblock %}

<script type="text/javascript">
    {% ifnotequal message '' %}
        $('#msgDialog').modal('show');
    {% endifnotequal %}
    $.validate({
        modules: "security"
    });



</script>

