{% extends "base.html" %}
{% block info %} active {% endblock %}
{% load staticfiles %}

{% block extlib %}
    <!--bootstrap table -->
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            <strong>用户信息详情</strong>
        </h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <!--列表-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form action="/super/modify/user/?pk={{ request.GET.pk }}" method="post">
                        <div class="row ">
                            <div class="col-md-4">
                                <span class="input-group-addon">姓名</span>
                                <input type="text" class="form-control" placeholder="必填" name="name"
                                       value="{{ user.name }}" >
                            </div>
                            <div class="col-md-4">
                                <span class="input-group-addon">手机号</span>
                                <input type="text" class="form-control" placeholder="必填" name="phone"
                                       value="{{ user.phone }}" >
                            </div>
                            <div class="col-md-4">
                                <span class="input-group-addon">身份证</span>
                                <input type="text" class="form-control" placeholder="必填" name="IDcard"
                                       value="{{ user.IDcard }}" >
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="input-group-addon">openId</span>
                                <input type="text" disabled="disabled" class="form-control" name="openId"
                                       value="{{ user.openId }}" >
                            </div>
                            <div class="col-md-6">
                                <span class="input-group-addon">地址</span>
                                <input type="text" class="form-control" placeholder="必填" name="address"
                                       value="{{ user.address }}" >
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-offset-5">
                                <input type="submit" value="修改" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- end of row -->
{% endblock %}

<script type="text/javascript">
    {% ifnotequal message '' %}
        $('#msgDialog').modal('show');
    {% endifnotequal %}
    $.validate({
        modules: "security"
    });

</script>